<% layout('layouts/boilerplate') %> 
<link rel="stylesheet" href="/stylesheets/bookDisplay.css">
    <!-- <h1>ALL BOOKS!</h1> -->

        <div class="boo">
        <% for(let book of books) { %>
            <div class="card ma" style="width: 25rem;">
                <img class="card-img-top" src="<%= book.image %>" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><%= book.name %> </h4>
                    <h5><%= book.author %></h5>
                    <h5><%= book.status %></h5>
                    <p class="card-text"><%= book.location %></p>
                    <a href="/books/<%= book._id %>" class="btn btn-primary"> View </a>
                </div>
            </div>
            <% } %>  
        </div>

